<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container" style="padding-top: 5%;">
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
                <img src="../../../assets/icon/6C9.jpg" alt="Esto es una imagen...">
            </ion-slide>
            <ion-slide>
                <img src="../../../assets/icon/agujero_de_gusano.jpg" alt="Esto es una imagen...">
            </ion-slide>
            <ion-slide>
                <img src="../../../assets/icon/img3.jpg" alt="Esto es una imagen...">
            </ion-slide>
            <ion-slide>
                <img src="../../../assets/icon/unnamed.jpg" alt="Esto es una imagen...">
            </ion-slide>
        </ion-slides>
    </div>

    <div class="container" style="padding-top: 5%;">
        <h2>¿Quién somos?</h2>
        <hr>
        <p>Somos una compañía que se dedica a dar información a todos aquellos que le gusta investigar, en especial sobre temas relacionados con el universo, mostrando algunas de las noticias de la NASA, sus nuevas explroaciones, descubrimientos e inventos</p>
        <p>Contamos con la ayuda de nuestro programador Pedro José Pérez Labrada, el que se ha encargado de crear esta página web.</p>
        <h4>Estudios</h4>
        <p>Técnico en Sistemas Microinformáticos y Redes</p>
        <p>Técnico superior en Desarrollo de Aplicaciones Web</p>
    </div>
    <br>
    <div class="container">
        <h2>¿Dónde estamos?</h2>
        <p>Búscanos por Google Maps!!</p>
        <hr>
        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.44224241483!2d-5.874638684412011!3d37.544643233138665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd125ce603bed70f%3A0xcd0e9d8b39d715f0!2sInstituto%20de%20Educaci%C3%B3n%20Secundaria%20Jacarand%C3%A1!5e0!3m2!1ses!2ses!4v1583276927967!5m2!1ses!2ses"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
    <br>
</ion-content>